<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produto</title>
  </head>
  <body>
    <h1>Cadastro de produto</h1>

    <form action="/produto-cadastro" method="post">
      <label>Nome: </label>
      <input type="text" name="nome" />

      <br /><br />

      <label>Preço: </label>
      <input type="float" name="preco" />

      <br /><br />

      <label>Quantidade: </label>
      <input type="number" name="quantidade" />

      <br /><br />

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
